/* src/App.css */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center; /* Căn giữa theo chiều ngang */
  justify-content: center; /* Căn giữa theo chiều dọc */
  min-height: 100vh; /* Đảm bảo phần tử chiếm toàn bộ chiều cao của viewport */
  padding: 20px;
  text-align: center;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.search-bar {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.categories {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.categories button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.categories button:hover {
  background-color: #0056b3;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
